In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('menu_cleaned.csv')

In [4]:
df[df['venue'].isna()]

,id,name,sponsor,event,venue,place,physical_description,occasion,notes,call_number,keywords,language,date,location,location_type,currency,currency_symbol,status,page_count,dish_count
15,12478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1900-04-18,Occidental & Oriental,NaN,NaN,NaN,complete,2,24
19,12482,NaN,NOVIOMAGUS,DINNER,NaN,"FREEMASONS' TAVERN, [LONDON, ENGLAND]",CARD; 4.25X6.25;,NaN,"FRENCH, [LOCATION INFO HANDWRITTEN ON BACK OF ...",1900-2856,NaN,NaN,1900-04-18,Noviomagus,NaN,NaN,NaN,complete,2,16
48,12515,NaN,THE ALBANY,LUNCH,NaN,"DENVER, COLO;",CARD;3.5 X 5;,NaN,NaN,1888-0611,NaN,NaN,1888-10-15,The Albany,NaN,NaN,NaN,complete,2,30
85,12560,NaN,DELMONICOS,MENU,NaN,"NEW YORK, NY",FOLDER; ILLUS; COL; 4.5X7;,NaN,"FRENCH, LIST OF WINES, ENGRAVED PORTRAIT OF A ...",1900-2157,NaN,NaN,1900-02-26,Delmonicos,NaN,NaN,NaN,complete,4,34
102,12583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1900-04-15,Hotel Eastman,NaN,NaN,NaN,complete,2,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16955,35515,Hotel LaSalle,Hotel LaSalle,NaN,NaN,NaN,NaN,NaN,1 image,1913-0746_wotm,NaN,NaN,1913-09-24,Hotel LaSalle,NaN,NaN,NaN,complete,1,22
16956,35516,Dennett's,Dennett's,NaN,NaN,NaN,NaN,NaN,1 image,1913-0747_wotm,NaN,NaN,1913-09-24,Dennett's,NaN,Dollars,$,complete,1,125
16957,35517,The Cortlandt,The Cortlandt,NaN,NaN,NaN,NaN,NaN,1 image,1913-0748_wotm,NaN,NaN,1913-09-24,The Cortlandt,NaN,Dollars,$,complete,1,101
16958,35518,Hotel Schynige Platte und Hotel Bellevue,Hotel Schynige Platte und Hotel Bellevue,NaN,NaN,NaN,NaN,NaN,4 images,1913-0749_wotm,NaN,NaN,1913-09-24,Hotel Schynige Platte und Hotel Bellevue,NaN,Swiss Francs,Fr,complete,4,161
16959,35526,"Christmas Dinner, Troop F 19: Fort Huachuca, A...","Christmas Dinner, Troop F 19: Fort Huachuca, A...",NaN,NaN,NaN,NaN,NaN,"Fort Huachuca, Arizona",C.10_wotm,NaN,NaN,1920-12-25,"Christmas Dinner, Troop F 19: Fort Huachuca, A...",NaN,NaN,NaN,complete,10,32

In [6]:
df=df.dropna(subset=['venue'])

In [7]:
df.to_csv('Cleaned_Menu.csv',index=False)